<app-employee-navbar></app-employee-navbar>
<div class="m-5">
  <h4 class="text-center text-primary">Expense Detail</h4>   
    <table class="mt-3 table table-bordered">
        <thead>
          <tr>           
            <th scope="col">Employee Id</th>
            <th scope="col">Project Code</th>
            <th scope="col">Description</th>
            <th scope="col">startDate</th>
            <th scope="col">EndDate</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of expenseDetails; ">            
            <td>{{service.userData.employeeId}}</td>
            <td>{{employee.project}}</td>
            <td>{{employee.expenseTitle}}</td>
            <td>{{employee.uploadedDate}}</td>
            <td>{{employee.approvedDate}}</td>                   
          </tr>         
        </tbody>
      </table>
</div>