<app-employee-navbar></app-employee-navbar>
<div class="m-5">
  <h4 class="text-center text-primary">Expense List</h4>
    <p class="float-right"><button type="button" class="btn btn-primary" (click)="addExpense()">Add Expense</button></p>
    <table class="mt-3 table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ExpenseId</th>
            <th scope="col">Expense Title</th>
            <th scope="col">Expense Type</th>
            <th scope="col">Project</th>
            <th scope="col">Department</th>
            <th scope="col">Expense Date</th>
            <th scope="col">Uploaded Date</th>
            <th scope="col">Approved Date</th>
            <th scope="col">Document</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of service.expenseUserList; let Index = index">
            <th scope="row">{{Index + 1}}</th>
            <td>{{employee.id}}</td>
            <td>{{employee.expenseTitle}}</td>
            <td>{{employee.expenseType}}</td>
            <td>{{employee.project}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.expenseDate}}</td>
            <td>{{employee.uploadedDate}}</td>
            <td>{{employee.approvedDate}}</td>
            <td><button class="btn btn-primary btn-sm rounded-0" (click)="download(employee.id, employee.document)" type="button" data-toggle="tooltip" data-placement="top" title="View">View</button></td>
            <td>{{employee.status}}</td>
            <td><ng-container *ngIf="employee.status !== 'Accepted' && employee.status !== 'Already claimed' else terminate "><ul class="list-inline m-0">
              <li class="list-inline-item">
                  <button class="btn btn-success btn-sm rounded-0" (click)="updateExpense(employee)" type="button" data-toggle="tooltip" data-placement="top" title="Edit">Edit</button>
              </li>
              <li class="list-inline-item">
                  <button class="btn btn-danger btn-sm rounded-0" (click)="deleteExpense(employee.id, employee, Index)" type="button" data-toggle="tooltip" data-placement="top" title="Delete">Delete</button>
              </li>                
          </ul></ng-container>
          <ng-template #terminate >
            <button class="btn btn-warning text-white btn-sm rounded-0" (click)="viewExpense(employee.id)" type="button" data-toggle="tooltip" data-placement="top" title="Delete">View</button>
          </ng-template></td>
          </tr>
         
        </tbody>
      </table>
</div>

  
