<app-employee-navbar></app-employee-navbar>
<div class=" m-5">
  <h4 class="text-center text-primary">Welcome {{userData.firstName + ' ' + userData.lastName}} </h4>
    <p class="float-right"><button type="button" class="btn btn-primary" (click)="editEmployee()">Edit Data</button></p>
    <table class="table table-bordered">       
        <tbody>
          <tr>
            <th scope="col">Firstname</th>
            <td>{{userData.firstName}}</td>           
          </tr> 
          <tr>
            <th scope="col">Lastname</th>
            <td>{{userData.lastName}}</td>           
          </tr> 
          <tr>
            <th scope="col">Email</th>
            <td>{{userData.email}}</td>           
          </tr>  
          <tr>
            <th scope="col">Department</th>
            <td>{{userData.department}}</td>           
          </tr>  
          <tr>
          <th scope="col">EmployeeId</th>
            <td>{{userData.employeeId}}</td>           
          </tr>                  
          <tr>
            <th scope="col">Date of joining</th>
            <td>{{userData.joiningDate}}</td>           
          </tr>  
        </tbody>
      </table>
      

</div>